{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    // Strings must use singlequote quotes
    "quotes": ["error", "single"]
  }
}
