/*
------------------------------------------------------------------
 COLORS
------------------------------------------------------------------
*/

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  
  --main-color: #040404;
  --main-background-color: #faf9f7;
}

/*
------------------------------------------------------------------
 FONTS
------------------------------------------------------------------
*/

:root {
  --primary-font: system-ui;
}

/*
------------------------------------------------------------------
 CUSTOM MEDIA
------------------------------------------------------------------
*/

@custom-media --mobile (max-width: 767px);
